<div class="container">
  <div class="row justify-content-around">

    <div class="col-12 col-sm-10 col-md-4 col-px-10" *ngFor="let targeta of targetas">

      <div class="cards" [routerLink]='targeta.url'>
        <img class="img-degra" src="../../../../assets/images/degra.jpg" alt="Avatar">
        <div class="cards-redonda">
          <img class="img-redonda" src="../../../../assets/images/reading.png" alt="Avatar">
        </div>
        <div class="titulo">
          {{targeta.nombre}}
        </div>
      </div>


    </div>

  </div>
</div>
