<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">

        <li>
          <a class="waves-effect" [routerLink]="['introduccion']">
            <i class="mdi mdi-file-chart"></i>
            <span class="hide-menu">Introduccion</span>
          </a>
        </li>

        <li>
          <a class="waves-effect waves-dark" [routerLink]="['capitulos']">
            <i class="mdi mdi-brush"></i>
            <span class="hide-menu">Capitulos</span>
          </a>
        </li>

        <li>
          <a class="waves-effect waves-dark" [routerLink]="['actividades']">
            <i class="mdi mdi-map-marker"></i>
            <span class="hide-menu">Actividades</span>
          </a>
        </li>

        <li>
          <a class="waves-effect waves-dark" [routerLink]="['retroalimentacion']">
            <i class="mdi mdi-arrange-send-backward"></i>
            <span class="hide-menu">Retroalimentacion</span>
          </a>
        </li>

        <li>
          <a class="waves-effect waves-dark" [routerLink]="['ayuda']">
            <i class="mdi mdi-arrange-send-backward"></i>
            <span class="hide-menu">Ayuda</span>
          </a>
        </li>

      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
