<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->

<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="menu">

        <li>
          <a class="opcion  waves-effect" [routerLink]="['introduccion']">
            <i class="mdi mdi-white-balance-incandescent"></i>
            <span class="hide-menu">Introduccion</span>
          </a>
        </li>

        <li>
          <a class="opcion waves-effect " [routerLink]="['capitulos']">
            <i class="mdi mdi-buffer"></i>
            <span class="hide-menu">Capitulos</span>
          </a>
        </li>

        <li>
          <a class="opcion waves-effect " [routerLink]="['actividades']">
            <i class="mdi mdi-cube-unfolded"></i>
            <span class="hide-menu">Actividades</span>
          </a>
        </li>

        <li>
          <a class="opcion waves-effect " [routerLink]="['retroalimentacion']">
            <i class="mdi mdi-debug-step-over"></i>
            <span class="hide-menu">Retroalimentacion</span>
          </a>
        </li>

        <li>
          <a class="opcion waves-effect waves-dark" [routerLink]="['ayuda']">
            <i class="mdi mdi-help-circle-outline"></i>
            <span class="hide-menu">Ayuda</span>
          </a>
        </li>

      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
