<div class="container">
  <div class="row justify-content-around">

    <div class="col-12 col-sm-10 col-md-6 col-lg-4" *ngFor="let targeta of targetas">

      <article class="box">
        <figure class="itemside">
          <div class="aside align-self-center">
            <span class="icon-wrap icon-md round bg-warning">
              <i class="fa fa-lightbulb"></i>
            </span>
          </div>

          <figcaption class="text-wrap">
            <h5 class="title">Actividad 1</h5>
            <p class="text-muted"> Se presenta una serie de actividades acerca de los terminos de la multiplicación. </p>
          </figcaption>

        </figure>
      </article>

    </div>

  </div>
</div>
